#map {
	height:300px;
}
.contact-us {
	display:none;
}
.contact-us2 {
	display:block;
	background-color:#fff;
}
.contact-us2 .row {
	margin:40px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.contact-us2 input, .contact-us2 textarea {
	text-spacing:1px;
	border:1px solid #C69C6C;
	display:block;
	font-size:15px;
	font-family: 'Open Sans Condensed', sans-serif;
	padding:10px;
	width:100%;
	margin-bottom:20px;
}
.contact-us2 textarea {
	height:150px;
	resize:none;
}
.main-content {
	margin-top:-20px;
	margin-bottom:40px;
}
.contact-us2 .stripes {
	height:6px;
	background-image:url(/img/envelope_stripes.png);
}
.contact-us2 .section {
	font-size:16px;
	margin-bottom:40px;
}
.contact-us2 button {
	display:block;
	margin:0 auto;
	width:50%;
	border:none;
	background-color:#661d1a;
	color:#bca5a4;
	font-size:30px;
	font-weight:100;
	margin-bottom:20px;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}