html,body {
	padding:0;
	margin:0;
	width:100%;
	overflow-x:hidden;
}
#contentContainer {
	width:100%;
	overflow:hidden;
}
#mainContainer {
	position: relative;
}
#mobileMenu {
	display:none;
}
#right-nav {
	color: #fff;
	font-size: 30px;
	text-align: right;
	top:10px;
	right: 20px;
	z-index: 10;
	text-decoration: none;
	white-space: nowrap;
	position:relative;
}
#right-nav a {
	display: inline-block;
	font-size: 14px;
	min-width: 10px;
	margin: 25px 0 0 5px;
	padding: 5px 25px;
}
#right-nav span {
	color: #fff;
	font-size: 14px;
	display:inline-block;
	padding: 0 10px;
}
@media (max-width:992px) {
	#right-nav a.non-mobile,
	#right-nav span.non-mobile {
		display: none;
	}
}
#right-nav a#cartIndicator {
	display: none;
	color: #fff;
	font-size: 30px;
	text-align: middle;
	text-decoration: none;
	margin-left: 20px;
}
#right-nav a#cartIndicator span {
	font-size: 30px;
	padding:0;
}
#top {
	background-image:url(/img/Curved-Wooden-Backdrops.jpg);
	background-color:#CFBDAF;
	background-repeat:no-repeat;
	background-position:center top;
	background-size:100%;
	position: relative;
}
#desktopNav {
	height:72px;
	font-family:Georgia;
	margin:60px -15px 0 -15px;
	font-size:0;
	position:relative;
}
#desktopNav .leftUnder {
	background-image:url(/img/banner_bottom_left.png);
	width:15px;
	height:10px;
	position:absolute;
	left:0;
	bottom:-10px;
}
#desktopNav .rightUnder {
	background-image:url(/img/banner_bottom_right.png);
	width:15px;
	height:10px;
	right:0;
	bottom:-10px;
	position:absolute;
}
#desktopNav .nav {
	position:absolute;
	left:0;
	top:0;
	height:72px;
	width:100%;
	z-index:1;
	text-align:center;
	border-bottom:3px solid #c69c6d;
	background-color:#421400;
	box-shadow:0 5px 10px #333;
}
#desktopNav .nav a {
	display:inline-block;
	font-size:16px;
	color:#eee0bb;
	margin:0 10px;
	width:120px;
	position:relative;
	top:17px;
}
#desktopNav .nav a.logo {
	width:237px;
	height:20px;
	position:relative;
}
#desktopNav .nav a.logo span {
	width:237px;
	height:166px;
	background-image:url(/img/WCPM_logo.png);
	top:-90px;
	left:0;
	position:absolute;
	display:block;
}
#mobileNav, #mobileTop {
	display:none;
}
@media (max-width:1200px) {
	#desktopNav .nav a {
		font-size:12px;
		margin:0 5px;
		width:100px;
		top:17px;
	}
	#desktopNav .nav a.logo {
		width:237px;
		height:20px;
		position:relative;
	}
	#desktopNav .nav a.logo span {
		width:237px;
		height:166px;
		background-image:url(/img/WCPM_logo.png);
		top:-90px;
		left:0;
		position:absolute;
		display:block;
	}
}
@media (max-width:992px) {
	.container {
		padding:0;
	}
	#desktopNav {
		display:none;
	}
	#mobileTop {
		display:block;
		border-bottom:3px solid #c69c6d;
		background-color:#421400;
		height:150px;
		position:relative;
		text-align:center;
	}
	#mobileMenu {
		width:260px;
		position:fixed;
		height:100%;
		display:block;
		background-color:#1c0c0c;
		transition: left 0.3s ease;
		-webkit-transition: left 0.3s ease;
		left:-260px;
		top:0;
		padding-top:5px;
		-webkit-overflow-scrolling: touch;
		overflow: scroll;
	}
	#mobileMenu .nav {

	}
	#mobileMenu a {
		display:block;
		color:#f0e1c0;
		font-size:16px;
		border-bottom:1px solid #562d01;
		padding:10px 20px;
		font-family:Georgia;
	}
	body.menuOpen #mobileMenu {
		left:0;
	}
	#contentContainer {
		transition: margin-left 0.3s ease;
		-webkit-transition: margin-left 0.3s ease;
	}
	body.menuOpen #contentContainer {
		margin-left:260px;
	}
	#mobileNavToggle {
		color:#c69c6d;
		position:absolute;
		display:block;
		top:3px;
		left:20px;
		font-size:30px;
	}
	#mobileTop a.logo {
		width:237px;
		height:166px;
		position:relative;
		background-image:url(/img/WCPM_logo.png);
		background-repeat:no-repeat;
		display:inline-block;
		bottom:-30px;
		z-index:5;
	}
	#right-nav {
		display:none;
	}
}
#top .top-section {
	position:relative;
	background-color:#70513f;
}
#bottom .contact-us {
	padding:70px 20px;
	background-color:#e6bd87;
	background-image:url(/img/cows_contactus_bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	display:none;
}
#bottom .contact-us .header {
	text-align:center;
	font-size:40px;
	font-weight:bold;
	font-family: 'Open Sans Condensed', sans-serif;
}
#bottom .contact-us .text1 {
	text-align:center;
	font-size:25px;
	font-weight:200;
	margin-bottom:50px;
}
#bottom .contact-us .section {
	background-color:rgba(234,203,169,0.8);
	padding:20px;
	font-size:15px;
	font-weight:200;
	margin-bottom:20px;
}
#bottom .contact-us form { width:100%; }
#bottom .contact-us input,
#bottom .contact-us textarea {
	display:block;
	border:none;
	font-size:20px;
	font-family: 'Open Sans Condensed', sans-serif;
	padding:10px;
	width:100%;
	margin-bottom:20px;
}
#bottom .contact-us textarea {
	min-height:200px;
	resize:none;
}
#bottom .contact-us button {
	display:block;
	margin:0 auto;
	width:50%;
	border:none;
	background-color:#661d1a;
	color:#bca5a4;
	font-size:30px;
	font-weight:100;
	margin-bottom:20px;
}
#bottom .contact-us form {
	padding-bottom:20px;
}
#bottom .bottom-nav {
	background-color:#000;
	padding:40px 0;
	font-family:Georgia;
}
#bottom .footer-nav .row {
	padding:20px;
}
#bottom .footer-nav a {
	display:block;
	color:#929292;
	margin-bottom:15px;
	font-size:15px;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#bottom .footer-logo {
	text-align:center;
}
#bottom .follow-us {
	text-align:center;
	color:#929292;
	font-size:15px;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#bottom .follow-us div {
	margin-bottom:10px;
	margin-top:20px;
}
#bottom .follow-us a {
	display:inline-block;
	border:none;
	text-decoration:none;
	margin:0 4px;
	color:rgb(146, 146, 146);
	font-size:40px;
}
#bottom .copyright {
	color:#eacba9;
	text-align:center;
	margin:20px 10px 30px 10px;
	font-size:15px;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
	font-size:36px;
	padding-bottom:0;
	margin-bottom:0;
	border:none;
	background-image:none;
	border-top:none;
	border-color:none;
	box-shadow: none;
	font-family: 'Open Sans Condensed', sans-serif;
}
h1.flourish, h1.h1-flourish,
h2.h2-fourish, h2.flourish  {
	padding-bottom:20px;
	border-bottom:2px solid #E2DBD3;
	box-shadow: 0 2px 0 #F8F1EB;
	padding-right:120px;
	background-image:url(/img/flourish2.png);
	background-repeat:no-repeat;
	background-position:right center;
	margin-bottom:40px;
	font-family: 'Open Sans Condensed', sans-serif;
}
h2.h2-fourish, h2.flourish {
	font-size: 16px;
	line-height: 36px;
	color: #8B8682;
	font-style: italic;
}
.newsletter {
	max-width:330px;
	width:100%;
	height:280px;
	background-image:url(/img/newsletter-signup.jpg);
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
	text-align:center;
	margin-top:40px;
	display:none;
}
.newsletter div {
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
}
.newsletter input {
	width:80%;
	border:1px solid #999;
	font-size:14px;
	padding:5px 10px;
	display:inline-block;
	margin-bottom:10px;
	text-transform:uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:300;
}
.newsletter button {
	background-color:#983201;
	color:#FFC2A7;
	border:none;
	display:inline-block;
	margin-bottom:20px;
}
@media (min-width:768px) {
	#desktopNav .nav a.logo span {
		background-image:url(/img/WCPM_logo.png);
	}
	.container {
		width:100%;
	}
}
@media (min-width:992px) {
	.container {
		width:992px;
	}
}
@media (min-width:1200px) {
	.container {
		width:1200px;
	}
}
form input.error,
form textarea.error {
	background-color:#fcc;
	color:#f00;
}
