#top {
	background-image:url(/img/template_bg.jpg);
}
#top div.top-section {
	background-color:#E9E4E0;
}
h1, h2, h3, h4 { color: #4D2732; margin:0; padding:0; font-family: 'Open Sans Condensed', sans-serif; }
h2 { font-size:25px;}
.content {
	padding:40px 40px; font-family:Georgia;
}
.content p {
	font-size:14px;
	color:#8B8682;
	font-family:Georgia;
}
.main-image {
	border:5px solid #fff;
}
.main-content {
	margin-top:30px;
	line-height:30px;
	color:#8B8682;
}
.main-content a {
	color:#973A11;
	font-weight:bold;
}
.main-content h2 {
	margin-bottom: 15px;
}
.right-header {
	text-transform:uppercase;
}
.right-content {
	font-family:Georgia;
}
.right-content ol, 
.right-content ul {
	color:#973A11;
	margin:20px 0;
	list-style-type: square;
	font-family:Georgia;
	font-size:16px;
}
