#top {
	background-image:url(/img/template_bg.jpg);
}
#top div.top-section {
	background-color:#E9E4E0;
}
.content {
	padding:40px 40px; font-family:Georgia;
}
.content p {
	font-size:14px;
	color:#8B8682;
	font-family:Georgia;
}
.main-image {
	border:5px solid #fff;
}
.main-content {
	margin-top:30px;
	line-height:30px;
}
.main-content a {
	color:#973A11;
	font-weight:bold;
}
.right-header {
	text-transform:uppercase;
	margin-bottom:40px;
}
.right-content {
	font-family:Georgia;
}
.right-content ol,
.right-content ul {
	color:#973A11;
	margin:20px 0;
	list-style-type: square;
	font-family:Georgia;
	font-size:16px;
}
.line {
	border-bottom:2px solid #E2DBD3;
	box-shadow: 0 2px 0 #F8F1EB;
}
.top-line {
	margin-top:40px;
	margin-bottom:20px;
}
.line.bottom-line {
	margin-top:10px;
	margin-bottom:40px;
}
#links {

}
#links a {
	overflow:hidden;
	height:50px;
	display:inline-block;
	margin-right:5px;
	margin-bottom:5px;
	border:3px solid #fff;
}
#links a img {
	width:100px;
	height:auto;
}
.modal img {
	width:100%;height:auto;
}
