#top {
	background-image:url(/img/template_bg.jpg);
}
#top div.top-section {
	background-color:#E9E4E0;
}
h1 { color: #4D2732; margin:0; padding:0;}
.content {
	padding:40px 40px; font-family:Georgia;
}
.content p {
	font-size:14px;
	color:#8B8682;
	font-family:Georgia;
}
.collection {
	margin-top:40px;
	margin-right:-10%;
}
.collection .item {
	float:left;
	width:28%;
	margin-right:3%;
	margin-bottom:40px;
	overflow:hidden;
	background-color:#F3F2EE;
	border:1px solid #ccc;
	position:relative;
}
.collection .item-inner {
	border:7px solid #fff;
	min-height:400px;
	overflow:auto;
	position:relative;
}
.collection .item .img {
	height:100px;
	background-repeat:no-repeat;
	background-position:center top;
	background-size:cover;
}
.collection .item .inner {
	padding:10px;
	padding-bottom:50px;
}
.collection .item .title {
	color: #4D2732;
	font-size:18px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	margin-bottom:5px;
}
.collection .item .description  {
	font-size:14px;
	color:#8B8682;
	font-family:Georgia;
}
.collection .item .more {
	position:absolute;
	left:10px;
	bottom:10px;
	color:#fff;
	background-color:#973201;
	padding:10px 20px;
	border:none;
	text-decoration:none;
	font-size:12px;
}
@media (max-width:800px) {
	.collection .item {
		width:44%;
	}
}
@media (max-width:600px) {
	.collection {
		margin-right:0;
	}
	.collection .item {
		width:100%;
		margin-right:0;
	}
}