{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block top %}
	<div id="carousel-example-generic" class="carousel slide {{ items.aboutRotator.classNames }}" data-ride="carousel">
		{% if items.aboutRotator.content %}
			<ol class="carousel-indicators">
				{% for item in items.aboutRotator.content %}
				   {% if loop.first %}
					<li data-target="#carousel-example-generic" class="active"></li>
				   {% else %}
				   	<li data-target="#carousel-example-generic"></li>
				   {% endif %}
				{% endfor %}
			</ol>
			<div class="carousel-inner">
				{% for item in items.aboutRotator.content %}
					   {% if loop.first %}
	   				    <div class="item active">
	   				      <img src="{{ item.src }}" alt="{{ item.alt }}">
	   				      <div class="carousel-caption">{{ item.caption }}</div>
	   				    </div>
					   {% else %}
	   				    <div class="item">
	   				      <img src="{{ item.src }}" alt="{{ item.alt }}">
	   				      <div class="carousel-caption">{{ item.caption }}</div>
	   				    </div>
					   {% endif %}
				{% endfor %}
			</div>
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		{% endif %}
	</div>
	<div class="carousel-shadow"></div>

<div class="block1">
	<h1 class="{{ items.aboutB1H1.classNames }}">{{ items.aboutB1H1.content }}</h1>
	<div class="flourish"></div>
	<div class="copy {{ items.aboutB1Copy.classNames }}">{{ items.aboutB1Copy.content | safe }}</div>
</div>

<div class="block2">
	<div class="row">
		<div class="col-sm-4">
			<h2 class="{{ items.aboutB2C1H2.classNames }}">{{ items.aboutB2C1H2.content }}</h2>
			<div class="img {{ items.aboutB2C1Image.classNames }}">{{ items.aboutB2C1Image.content | safe }}</div>
			<p class="copy {{ items.aboutB2C1Copy.classNames }}">{{ items.aboutB2C1Copy.content | safe }}</p>
			<a href="/about/our-facility" class="more">More</a>
		</div>
		<div class="col-sm-4">
			<h2 class="{{ items.aboutB2C2H2.classNames }}">{{ items.aboutB2C2H2.content }}</h2>
			<div class="img {{ items.aboutB2C2Img.classNames }}">{{ items.aboutB2C2Img.content | safe }}</div>
			<p class="copy {{ items.aboutB2C2Copy.classNames }}">{{ items.aboutB2C2Copy.content | safe }}</p>
			<a href="/about/our-fleet" class="more">More</a>
		</div>
		<div class="col-sm-4">
			<h2 class="{{ items.aboutB2C3H2.classNames }}">{{ items.aboutB2C3H2.content }}</h2>
			<div class="img {{ items.aboutB2C3Img.classNames }}">{{ items.aboutB2C3Img.content | safe }}</div>
			<p class="copy {{ items.aboutB2C3Copy.classNames }}">{{ items.aboutB2C3Copy.content | safe }}</p>
			<a href="/about/food-safety" class="more">More</a>
		</div>
	</div>
</div>

<div class="block3">
	<h2 class="{{ items.aboutB3H2.classNames }}">{{ items.aboutB3H2.content }}</h2>
	<div class="img {{ items.aboutB3Img.classNames }}">{{ items.aboutB3Img.content | safe }}</div>
	<p class="copy {{ items.aboutB3Copy.classNames }}">{{ items.aboutB3Copy.content | safe }}</p>
	<a href="/about/our-cutting-team" class="more">More</a>
</div>
{% endblock %}

{% block middle %}
	
{% endblock %}

{% block foot %}

{% endblock %}