{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block top %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/hero_image1.jpg" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img src="/img/hero_image1.jpg" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img src="/img/hero_image1.jpg" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div class="carousel-shadow"></div>

<div class="block1">
	<h1 class="{{ items.aboutB1H1.classNames }}">{{ items.aboutB1H1.content }}</h1>
	<div class="flourish"></div>
	<div class="copy {{ items.aboutB1Copy.classNames }}">{{ items.aboutB1Copy.content | safe }}</div>
</div>

<div class="block2">
	<div class="row">
		<div class="col-sm-4">
			<h2 class="{{ items.aboutB2C1H2.classNames }}">{{ items.aboutB2C1H2.content }}</h2>
			<div class="img {{ items.aboutB2C1Img.classNames }}">{{ items.aboutB2C1Img.content | safe }}</div>
			<p class="copy {{ items.aboutB2C1Copy.classNames }}">{{ items.aboutB2C1Copy.content | safe }}</p>
			<a href="/about/our-facility" class="more">More</a>
		</div>
		<div class="col-sm-4">
			<h2 class="{{ items.aboutB2C2H2.classNames }}">{{ items.aboutB2C2H2.content }}</h2>
			<div class="img {{ items.aboutB2C2Img.classNames }}">{{ items.aboutB2C2Img.content | safe }}</div>
			<p class="copy {{ items.aboutB2C2Copy.classNames }}">{{ items.aboutB2C2Copy.content | safe }}</p>
			<a href="/about/our-fleet" class="more">More</a>
		</div>
		<div class="col-sm-4">
			<h2 class="{{ items.aboutB2C3H2.classNames }}">{{ items.aboutB2C3H2.content }}</h2>
			<div class="img {{ items.aboutB2C3Img.classNames }}">{{ items.aboutB2C3Img.content | safe }}</div>
			<p class="copy {{ items.aboutB2C3Copy.classNames }}">{{ items.aboutB2C3Copy.content | safe }}</p>
			<a href="/about/food-safety" class="more">More</a>
		</div>
	</div>
</div>

<div class="block3">
	<h2 class="{{ items.aboutB3H2.classNames }}">{{ items.aboutB3H2.content }}</h2>
	<div class="img {{ items.aboutB3Img.classNames }}">{{ items.aboutB3Img.content | safe }}</div>
	<p class="copy {{ items.aboutB3Copy.classNames }}">{{ items.aboutB3Copy.content | safe }}</p>
	<a href="/about/our-cutting-team" class="more">More</a>
</div>
{% endblock %}

{% block middle %}
	
{% endblock %}

{% block foot %}

{% endblock %}