{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/blog.css">
{% endblock %}

{% block top %}
<div class="content">
	<h1 class="{{ items[pageID + 'Title'].classNames }}">{{ items[pageID + 'Title'].content }}</h1>
	<h2 class="flourish {{ items[pageID + 'SubTitle'].classNames }}">{{ items[pageID + 'SubTitle'].content }}</h2>
	<div class="row">
		<div class="col-sm-12 {{ items[pageID + 'Content'].classNames }}">
			{{ items[pageID + 'Content'].content | safe }}
		</div>
	</div>
</div>
{% endblock %}

{% block middle %}
{% endblock %}

{% block foot %}

{% endblock %}
