{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/cart.css">
{% endblock %}

{% block top %}

<div class="block1">
	<h1 class="{{ items[pageID + 'Title'].classNames }}">{{ items[pageID + 'Title'].content }}</h1>
	<div class="flourish"></div>
	<div class="content" id="cartContents"></div>
</div>

{% endblock %}

{% block middle %}

{% endblock %}

{% block foot %}
{% raw %}
<script type="text/html" id="cartEmptyTemplate">
	<div class="row">
		<div class="col-md-12">
			<div class="no-items">Your cart is empty.</div>
		</div>
	</div>
</script>

<script type="text/html" id="cartItemTemplate">
	<div class="row cart-item" data-upc="{{upc}}">
		<div class="col-xs-4">
			<a href="{{href}}" class="cart-item-name">{{name}}</a>
		</div>
		<div class="col-xs-4">
			<div class="cart-item-price pull-right">${{msrp}}</div>
		</div>
		<div class="col-xs-4">
			<div class="pull-right cart-controls">
				<div class="qty">x<input class="qtyInput" maxlength="2" type="text" value="{{quantity}}"></div>
				<a class="trash"><i class="fa fa-trash"></i></a>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="cartSubtotalTemplate">
	<div class="row sub-total">
		<div class="col-xs-8">
			<div class="pull-right sub-total-item">subtotal: ${{subtotal}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="pull-right checkout-button-container"><a class="button" href="/checkout">Checkout</a></div>
		</div>
	</div>
</script>

<script src="/js/cart.js?v1.1"></script>
{% endraw %}
{% endblock %}
