{% extends 'layout.html' %}
{% import "./macros/checkout.html" as checkout %}
{% block head %}
<link rel="stylesheet" href="/css/checkout.css">
{% endblock %}

{% block top %}
<div class="block1">
	<h1 class="{{ items[pageID + 'Title'].classNames }}">{{ items[pageID + 'Title'].content }}</h1>
	<div class="flourish"></div>
	<div class="content show-for-receipt">
		<div class="row">
			<div class="col-sm-12 centered">
				<h2>Thank you for your purchase! You will receive an email receipt shortly.</h2>
				<p>Orders placed before 2:00 PM Pacific Monday – Friday will ship the same day. Orders after 2:00 PM
					will ship the next business day. Once your product ships, our customer service team will email your tracking number.
				</p>
				<p>Please <a href="/resources/contact">Contact Customer Service</a> if you have any questions.</p>
			</div>
		</div>
	</div>
	<form class="content checkout hide-for-receipt" action="#" novalidate>
		<div class="row shipping-group">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<legend>Ship To Contact</legend>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<input data-label="Shipping First Name" class="form-control" type="text" maxlength="25" required name="shipping-firstname" placeholder="first name" />
					</div>
					<div class="col-sm-6">
						<input data-label="Shipping Last Name" class="form-control" type="text" maxlength="25" required name="shipping-lastname" placeholder="last name" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<input data-label="Shipping Email" class="form-control" type="email" maxlength="50" required name="shipping-email" placeholder="email address" />
					</div>
					<div class="col-sm-6">
						<input data-label="Shipping Phone Number" class="form-control" type="tel" maxlength="50" name="shipping-phone" placeholder="phone number" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<legend>Shipping Method <small>(ships within 1-2 business days)</small></legend>
					</div>
				</div>
				<div class="row" data-ship-to>
					<div class="col-sm-6">
						<select data-label="Shipping Method" class="form-control" name="shipping-method" required>
							<option value="">choose shipping method</option>
						</select>
					</div>
					<div class="col-sm-6">
						<strong id="shippingCalculation"></strong>
					</div>
				</div>
			</div>
			<div class="col-sm-6" data-address-group data-ship-to>
				<div class="row">
					<div class="col-sm-12">
						<legend>Ship To Address</legend>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input data-label="Shipping Street 1" class="form-control" type="text" maxlength="200" required name="shipping-address" placeholder="street 1" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input class="form-control" type="text" maxlength="200" name="shipping-address2" placeholder="street 2 (optional)" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<input data-label="Shipping City" class="form-control" type="text" required maxlength="50" name="shipping-city" placeholder="city" />
					</div>
					<div class="col-sm-6">
						<select data-label="Shipping State" class="form-control state" name="shipping-state" class="" required></select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						{{ checkout.Countries('Shipping Country', 'Choose Country', 'shipping-country') }}
					</div>
					<div class="col-sm-4">
						<input data-label="Shipping Postal Code" class="form-control zipcode" type="text" maxlength="10" required name="shipping-zipcode" placeholder="postal code" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<legend>Billing Contact</legend>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="checkbox">
							<label>same as shipping
								<input type="checkbox" data-toggle=".payment-contact" name="same-contact" checked />
							</label>
						</div>
					</div>
				</div>
				<div class="row payment-contact">
					<div class="col-sm-6">
						<input data-label="Billing First Name" class="form-control" type="text" maxlength="25" required name="payment-firstname" placeholder="first name" />
					</div>
					<div class="col-sm-6">
						<input data-label="Billing Last Name" class="form-control" type="text" maxlength="25" required name="payment-lastname" placeholder="last name" />
					</div>
				</div>
				<div class="row payment-contact">
					<div class="col-sm-6">
						<input data-label="Billing Email" class="form-control" type="email" maxlength="50" required name="payment-email" placeholder="email address" />
					</div>
					<div class="col-sm-6">
						<input data-label="Billing Phone Number" class="form-control" type="tel" maxlength="50" name="payment-phone" placeholder="phone number" />
					</div>
				</div>
			</div>
			<div class="col-sm-6" data-address-group>
				<div class="row">
					<div class="col-sm-12">
						<legend>Billing Address</legend>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="checkbox">
							<label>same as shipping
								<input type="checkbox" data-toggle=".payment-address" name="same-address" checked />
							</label>
						</div>
					</div>
				</div>
				<div class="row payment-address">
					<div class="col-sm-12">
						<input data-label="Billing Street 1" type="text" maxlength="200" required name="payment-address" placeholder="street 1" class="form-control" />
					</div>
				</div>
				<div class="row payment-address">
					<div class="col-sm-12">
						<input type="text" maxlength="200" name="payment-address2" placeholder="street 2 (optional)" class="form-control" />
					</div>
				</div>
				<div class="row payment-address">
					<div class="col-sm-6">
						<input data-label="Billing City" type="text" required maxlength="50" name="payment-city" placeholder="city" class="form-control" />
					</div>
					<div class="col-sm-6">
						<select data-label="Billing State" name="payment-state" class="form-control state" required></select>
					</div>
				</div>
				<div class="row payment-address">
					<div class="col-sm-6">
						{{ checkout.Countries('Billing Country', 'Choose Country', 'payment-country') }}
					</div>
					<div class="col-sm-6">
						<input data-label="Billing Postal Code" type="text" maxlength="10" required name="payment-zipcode" class="zipcode form-control" placeholder="postal code" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<legend>Credit Card</legend>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<select data-label="Credit Card Type" name="payment-cardtype" required class="form-control"></select>
					</div>
					<div class="col-sm-8">
						<input data-label="Credit Card Number" type="text" data-type="credit-card" class="form-control" maxlength="20" required name="payment-number" placeholder="card number" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<select data-label="Credit Card Month" name="month" required class="form-control">
							<option value="">month</option>
							<option value="1">Jan (1)</option>
							<option value="2">Feb (2)</option>
							<option value="3">Mar (3)</option>
							<option value="4">Apr (4)</option>
							<option value="5">May (5)</option>
							<option value="6">Jun (6)</option>
							<option value="7">Jul (7)</option>
							<option value="8">Aug (8)</option>
							<option value="9">Sep (9)</option>
							<option value="10">Oct (10)</option>
							<option value="11">Nov (11)</option>
							<option value="12">Dec (12)</option>
						</select>
					</div>
					<div class="col-sm-4">
						<select data-label="Credit Card Year" name="year" required class="form-control">
							<option value="">year</option>
							{% for year in years %}
							<option value="{{ year }}">{{ year }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-3">
						<input data-label="Credit Card Security Code" type="text" data-type="integer" maxlength="4" required name="security-code" placeholder="code" class="form-control" />
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="flourish"></div>
	<div class="content" id="summary"></div>
	<div class="content hide-for-receipt">
		<div class="row" id="errorMessageContainer">
			<div class="col-sm-6"></div>
			<div class="col-sm-4">
				<div class="alert alert-danger" id="errorMessage"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10">
				<div class="pull-right">
					<button id="completePurchase">Complete Purchase</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block middle %}
{% endblock %}
{% block foot %}
{% raw %}
<div id="errorModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Oops.</h4>
      </div>
      <div class="modal-body">
        <p class="message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="waitingModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p class="message centered"><i class="fa fa-spinner fa-pulse"></i> ...processing your transaction.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="itemTemplate">
	<div class="row item">
		<div class="col-xs-5">
			<div class="pull-right">
				<a href="{{href}}" class="cart-item-name">{{name}} @ ${{msrp}} each</a>
			</div>
		</div>
		<div class="col-xs-5">
			<div class="cart-item-price pull-right">x{{quantity}} ${{subtotal}}</div>
		</div>
	</div>
</script>

<script type="text/html" id="totalsTemplate">
	<div class="row totals">
		<div class="col-sm-10">
			<div class="pull-right total">Subtotal: ${{subtotal}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10">
			<div class="pull-right total">Sales tax: ${{tax}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10">
			<div class="pull-right total">{{ shippingMethod }}: ${{shipping}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10">
			<div class="pull-right total big-total">Total: ${{total}}</div>
		</div>
	</div>
</script>
{% endraw %}
<script type="text/html" id="us-states">
	{{ checkout.USStates('State', 'Choose State') }}
</script>
<script type="text/html" id="canada-states">
	{{ checkout.CanadaProvinces('Province', 'Choose Province') }}
</script>
<script type="text/html" id="international-states">
	{{ checkout.InternationalStates('State/Territory/Province', 'state, territory or province code') }}
</script>
<script src="/js/checkout.js"></script>
{% endblock %}
