{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/checkout.css">
{% endblock %}

{% block top %}

<div class="block1">
	<h1 class="{{ items[pageID + 'Title'].classNames }}">{{ items[pageID + 'Title'].content }}</h1>
	<div class="flourish"></div>
	<div class="content">

	</div>
</div>

{% endblock %}

{% block middle %}

{% endblock %}

{% block foot %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="/js/checkout.js"></script>
{% endblock %}
