{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/template1.css">
	<link rel="stylesheet" href="/css/contact.css">
{% endblock %}

{% block top %}
<div id="map">
	
</div>
<div class="content">
	<h1 class="h1-flourish headerfix {{ items[pageID + 'Title'].classNames }}">{{ items[pageID + 'Title'].content }}</h1>
	<div class="main-content {{ items[pageID + 'MainContent'].classNames }}">
		{{ items[pageID + 'MainContent'].content | safe }}
	</div>
	<div class="contact-us contact-us2">
		<div class="stripes"></div>
		<div class="row">
			<div class="col-sm-6">
				<form action="#">
					<input type="text" name="name" placeholder="YOUR NAME:">
					<input type="email" name="email" placeholder="YOUR EMAIL:">
					<textarea name="message" placeholder="YOUR MESSAGE:"></textarea>
					<button type="submit">SEND</button>
				</form>
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<div class="section {{ layout.items.layoutContactRight1.classNames }}">
					{{ layout.items.layoutContactRight1.content | safe }}
				</div>
				<div class="section {{ layout.items.layoutContactRight2.classNames }}">
					{{ layout.items.layoutContactRight2.content | safe }}
				</div>
			</div>
		</div>
		<div class="stripes"></div>
	</div>
</div>
{% endblock %}

{% block middle %}
{% endblock %}

{% block foot %}
<script src="//maps.google.com/maps/api/js?sensor=false&v=3.3"></script>
<script src="/js/contact.js"></script>
{% endblock %}
