{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block top %}
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <img src="/img/hero_image1.jpg" alt="...">
	      <div class="carousel-caption">
	        
	      </div>
	    </div>
	    <div class="item">
	      <img src="/img/hero_image1.jpg" alt="...">
	      <div class="carousel-caption">
	        
	      </div>
	    </div>
	    <div class="item">
	      <img src="/img/hero_image1.jpg" alt="...">
	      <div class="carousel-caption">
	        
	      </div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div>
{% endblock %}

{% block middle %}
	<div class="block1">
		<div class="container">
			<h1>here's who we are, here's what we do</h1>
			<div class="flourish"></div>
			<p>
				Sed eros turpis, tincidunt ac ipsum eu, tincidunt porta risus. Duis dapibus at dui sed vulputate. 
				Ut at varius quam, et tempor lacus. Nunc vitae nibh quis felis laoreet egestas. Morbi eget erat 
				metus. Fusce erat nulla, lobortis eu congue eu, semper lobortis libero. In vel diam sit amet elit 
				elementum lacinia. Praesent in dui quis nunc ultrices bibendum. Interdum et malesuada fames ac ante 
				ipsum primis in faucibus. Vivamus elementum at mauris a volutpat. Mauris ultrices massa vel est 
				tristique, et interdum tellus semper. Sed porttitor ante sit amet auctor elementum.
			</p>
		</div>
	</div>
{% endblock %}

{% block foot %}

{% endblock %}