<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet'>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/main.css">
		<meta name="kitgui-page-id" content="{{ pageID }}">
		<meta name="robots" content="noindex, nofollow">
		<!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
		{% block head %}

		{% endblock %}
	</head>
	<body>
		<div id="mobileMenu">
			<div class="nav">
				<a href="#">{{ layout.items.homeNavItem1.content }}</a>
				<a href="#">{{ layout.items.homeNavItem2.content }}</a>
				<a href="#">{{ layout.items.homeNavItem3.content }}</a>
				<a href="#">{{ layout.items.homeNavItem4.content }}</a>
				<a href="#">{{ layout.items.homeNavItem5.content }}</a>
				<a href="#">{{ layout.items.homeNavItem6.content }}</a>
			</div>
		</div>
		<div id="contentContainer">
			<div id="top">
				<div class="container">
					<div id="mobileTop">
						<a id="mobileNavToggle" href="#"><i class="fa fa-bars"></i></a>
						<a class="logo" href="/"></a>
					</div>
					<div id="desktopNav">
						<div class="leftUnder"></div>
						<div class="nav">
							<a href="#" class="{{ layout.items.homeNavItem1.classNames }}">{{ layout.items.homeNavItem1.content }}</a>
							<a href="#" class="{{ layout.items.homeNavItem2.classNames }}">{{ layout.items.homeNavItem2.content }}</a>
							<a href="#" class="{{ layout.items.homeNavItem3.classNames }}">{{ layout.items.homeNavItem3.content }}</a>
							<a class="logo" href="/"><span></span></a>
							<a href="#" class="{{ layout.items.homeNavItem4.classNames }}">{{ layout.items.homeNavItem4.content }}</a>
							<a href="#" class="{{ layout.items.homeNavItem5.classNames }}">{{ layout.items.homeNavItem5.content }}</a>
							<a href="#" class="{{ layout.items.homeNavItem6.classNames }}">{{ layout.items.homeNavItem6.content }}</a>
						</div>
						<div class="rightUnder"></div>
					</div>
					<div class="top-section">
					{% block top %}

					{% endblock %}
					</div>
				</div>
			</div>
			<div id="middle">
				{% block middle %}

				{% endblock %}
			</div>
			<div id="bottom">
				<div class="contact-us">
					<div class="header {{ layout.items.layoutContactHeader.classNames }}">{{ layout.items.layoutContactHeader.content }}</div>
					<div class="text1 {{ layout.items.layoutContactText1.classNames }}">{{ layout.items.layoutContactText1.content }}</div>
					<div class="container">
						<div class="row">
							<div class="col-sm-7">
								<form action="#">
									<input type="text" name="name" placeholder="YOUR NAME:">
									<input type="email" name="email" placeholder="YOUR EMAIL:">
									<textarea name="message" placeholder="YOUR MESSAGE:"></textarea>
									<button type="submit">SEND</button>
								</form>
							</div>
							<div class="col-sm-offset-1 col-sm-4">
								<div>
								
								</div>
								<div>
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="/js/main.js"></script>
		<script type="text/javascript">
			var kitgui = { key: '{{ kitguiAccountKey }}', tabVisible: true };
		</script>
		<script src="/kitgui/js/kitgui.js"></script>
		{% block foot %}

		{% endblock %}
	</body>
</html>