{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/partner-collection.css">
{% endblock %}

{% block top %}
<div class="content">
	<h1 class="h1-flourish {{ items.recipesTitle.classNames }}">{{ items.recipesTitle.content }}</h1>
	<div class="partner-overview restaurant">
		<div class="img"></div>
		<div class="title {{ items.recipesSubTitle.classNames }}">{{ items.recipesSubTitle.content }}</div>
	</div>
	<div class="collection clearfix {{ items.recipesList.classNames }}">
		{% if items.recipesList.content %}
			{% for item in items.recipesList.content %}
			<div class="row">
				<div class="col-sm-3">
					<div class="img" style="background-image:url({{ item.src }})"><img src="/img/transparent_square.png" class="img-responsive"></div>
				</div>
				<div class="col-sm-9">
					<div class="title">{{ item.title }}</div>
					<div class="description">{{ item.description | safe }}</div>
					<a class="more" href="{{ item.href }}">More</a><br>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}

{% block middle %}
{% endblock %}

{% block foot %}

{% endblock %}
