{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/partner-collection.css">
	<link rel="stylesheet" href="/css/sort-filter.css">
{% endblock %}

{% block top %}
<div id="carousel-example-generic" class="carousel slide {{ items.recipesRotator.classNames }}" data-ride="carousel">
	{% if items.recipesRotator.content %}
		<div class="carousel-inner">
			{% for item in items.recipesRotator.content %}
				   {% if loop.first %}
   				    <div class="item active">
   				      <img src="{{ item.src }}" alt="{{ item.alt }}">
   				      <div class="carousel-caption">{{ item.caption }}</div>
   				    </div>
				   {% else %}
   				    <div class="item">
   				      <img src="{{ item.src }}" alt="{{ item.alt }}">
   				      <div class="carousel-caption">{{ item.caption }}</div>
   				    </div>
				   {% endif %}
			{% endfor %}
		</div>
	{% endif %}
</div>
<div class="content">
	<h1 class="h1 {{ items.recipesTitle.classNames }}">{{ items.recipesTitle.content }}</h1>
	<h2 class="h2-flourish {{ items.recipesSubTitle.classNames }}">{{ items.recipesSubTitle.content }}</h2>
	<div class="sort-filter-bar">
		<a class="sort control" data-sort="asc">
			<i class="fa fa-sort"></i> sorted <span class="sort-by">a-z</span>
		</a>
		<select class="control form-control filter-meat">
			<option>filter by meat</option>
			<option>Beef</option>
			<option>Burgers</option>
			<option>Lamb &amp; Goat</option>
			<option>Pork</option>
			<option>Poultry</option>
			<option>Seafood</option>
			<option>Veal</option>
		</select>
		<select class="control form-control filter-contributor">
			<option>filter by contributor</option>
		</select>
	</div>
	<div class="collection clearfix {{ items.recipesList.classNames }}">
		{% if items.recipesList.content %}
			{% for item in items.recipesList.content %}
			<div class="row">
				<div class="col-sm-6">
					<a class="img" href="{{ item.href }}" style="background-image:url({{ item.src }})"><img alt="{{ item.alt }}" src="/img/transparent_square.png" class="img-responsive"></a>
				</div>
				<div class="col-sm-6">
					<div class="title">{{ item.title }}</div>
					<div class="description">{{ item.description | safe }}</div>
					<a class="more" href="{{ item.href }}">View Recipe</a><br>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}

{% block middle %}
{% endblock %}

{% block foot %}
	<script src="/js/recipes.js"></script>
{% endblock %}
