{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/template3.css">
	{% if styles %}
		{% for style in styles %}
			<link rel="stylesheet" href="{{style}}">
		{% endfor %}
	{% endif %}
{% endblock %}

{% block top %}
<div class="content">
	<h1 class="{{ items[pageID + 'Title'].classNames }}">{{ items[pageID + 'Title'].content }}</h1>
	<h2 class="flourish {{ items[pageID + 'SubTitle'].classNames }}">
		{{ items[pageID + 'SubTitle'].content }}
		{% if items[pageID + 'FlourishRight'].content and items[pageID + 'FlourishRight'].content.src %}
			<img class="flourish-right {{ items[pageID + 'FlourishRight'].classNames }}"
			src="{{ items[pageID + 'FlourishRight'].content.src }}" alt="{{ items[pageID + 'FlourishRight'].content.alt }}" />
		{% endif %}
	</h2>
	<div class="row">
		<div class="col-sm-8">
			<div class="main-image carousel slide {{ items[pageID + 'Image'].classNames }}" id="{{ items[pageID + 'Image'].classNames }}" data-ride="carousel">
				{% if items[pageID + 'Image'].content %}
					<div class="carousel-inner">
						{% for item in items[pageID + 'Image'].content %}
							   {% if loop.first %}
			   				    <div class="item active">
			   				      <img src="{{ item.src }}" alt="{{ item.alt }}">
			   				      <div class="carousel-caption">{{ item.caption }}</div>
			   				    </div>
							   {% else %}
			   				    <div class="item">
			   				      <img src="{{ item.src }}" alt="{{ item.alt }}">
			   				      <div class="carousel-caption">{{ item.caption }}</div>
			   				    </div>
							   {% endif %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<div class="main-content {{ items[pageID + 'Content'].classNames }}">
				{{ items[pageID + 'Content'].content | safe }}
			</div>
		</div>
		<div class="col-sm-4">
			<h2 class="right-header {{ items[pageID + 'RightHeader'].classNames }}">
				{{ items[pageID + 'RightHeader'].content }}
			</h2>
			<div class="right-content {{ items[pageID + 'RightContent'].classNames }}">
				{{ items[pageID + 'RightContent'].content | safe }}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block middle %}
{% endblock %}

{% block foot %}

{% endblock %}
