{% macro Countries(dataLabel, label, name) %}
	<select data-label="{{ dataLabel }}" class="form-control country" name="{{ name }}" required>
			<option value="">{{ label }}</option>
        <option value="US" selected="selected" data-displayfor="DB">United States of America</option>
        <option value="CA" data-displayfor="IB">Canada</option>
        <option value="AG">Antigua &amp; Barbuda</option>
        <option value="AW">Aruba</option>
        <option value="AU">Australia</option>
        <option value="AT">Austria</option>
        <option value="BS">Bahamas</option>
        <option value="BB">Barbados</option>
        <option value="BE">Belgium</option>
        <option value="BZ">Belize</option>
        <option value="BM">Bermuda</option>
        <option value="BO">Bolivia</option>
        <option value="BR">Brazil</option>
        <option value="VB">British Virgin Islands</option>
        <option value="CA">Canada</option>
        <option value="KY">Cayman Islands</option>
        <option value="CN">China</option>
        <option value="CO">Colombia</option>
        <option value="CK">Cook Islands</option>
        <option value="CR">Costa Rica</option>
        <option value="FJ">Fiji</option>
        <option value="FR">France</option>
        <option value="PF">French Polynesia</option>
        <option value="DE">Germany</option>
        <option value="GB">Great Britain</option>
        <option value="GR">Greece</option>
        <option value="HK">Hong Kong</option>
        <option value="IN">India</option>
        <option value="IR">Ireland</option>
        <option value="IT">Italy</option>
        <option value="JM">Jamaica</option>
        <option value="JP">Japan</option>
        <option value="MO">Macau</option>
        <option value="MK">Macedonia</option>
        <option value="MY">Malaysia</option>
        <option value="MV">Maldives</option>
        <option value="MT">Malta</option>
        <option value="MH">Marshall Islands</option>
        <option value="MQ">Martinique</option>
        <option value="MR">Mauritania</option>
        <option value="MU">Mauritius</option>
        <option value="MX">Mexico</option>
        <option value="FM">Micronesia</option>
        <option value="AN">Netherland Antilles</option>
        <option value="NL">Netherlands (Holland, Europe)</option>
        <option value="NZ">New Zealand</option>
        <option value="PW">Palau Island</option>
        <option value="PG">Papua New Guinea</option>
        <option value="PY">Paraguay</option>
        <option value="PH">Philippines</option>
        <option value="PT">Portugal</option>
        <option value="SP">Saipan</option>
        <option value="SM">San Marino</option>
        <option value="SC">Seychelles</option>
        <option value="SG">Singapore</option>
        <option value="ZA">South Africa</option>
        <option value="KR">South Korea</option>
        <option value="ES">Spain</option>
        <option value="KN">St. Kitts &amp; Nevis</option>
        <option value="LC">St. Lucia</option>
        <option value="vc">St. Vincent</option>
        <option value="SE">Sweden</option>
        <option value="CH">Switzerland</option>
        <option value="TH">Thailand</option>
        <option value="TT">Trinidad &amp; Tobago</option>
        <option value="TC">Turks &amp; Caicos Is</option>
        <option value="GB">United Kingdom</option>
        <option value="US">United States of America</option>
        <option value="VS">Vatican City State</option>
        <option value="VE">Venezuela</option>
    </select>
{% endmacro %}

{% macro USStates(dataLabel, label) %}
<select data-label="{{ dataLabel }}" class="form-control state"  name="state" required>
    <option data-choose value="">{{ label }}</option>
    <option value="AL">Alabama</option>
    <option value="AK">Alaska</option>
    <option value="AZ">Arizona</option>
    <option value="AR">Arkansas</option>
    <option value="CA">California</option>
    <option value="CO">Colorado</option>
    <option value="CT">Connecticut</option>
    <option value="DE">Delaware</option>
    <option value="DC">Dist of Columbia</option>
    <option value="FL">Florida</option>
    <option value="GA">Georgia</option>
    <option value="HI">Hawaii</option>
    <option value="ID">Idaho</option>
    <option value="IL">Illinois</option>
    <option value="IN">Indiana</option>
    <option value="IA">Iowa</option>
    <option value="KS">Kansas</option>
    <option value="KY">Kentucky</option>
    <option value="LA">Louisiana</option>
    <option value="ME">Maine</option>
    <option value="MD">Maryland</option>
    <option value="MA">Massachusetts</option>
    <option value="MI">Michigan</option>
    <option value="MN">Minnesota</option>
    <option value="MS">Mississippi</option>
    <option value="MO">Missouri</option>
    <option value="MT">Montana</option>
    <option value="NE">Nebraska</option>
    <option value="NV">Nevada</option>
    <option value="NH">New Hampshire</option>
    <option value="NJ">New Jersey</option>
    <option value="NM">New Mexico</option>
    <option value="NY">New York</option>
    <option value="NC">North Carolina</option>
    <option value="ND">North Dakota</option>
    <option value="OH">Ohio</option>
    <option value="OK">Oklahoma</option>
    <option value="OR">Oregon</option>
    <option value="PA">Pennsylvania</option>
    <option value="RI">Rhode Island</option>
    <option value="SC">South Carolina</option>
    <option value="SD">South Dakota</option>
    <option value="TN">Tennessee</option>
    <option value="TX">Texas</option>
    <option value="UT">Utah</option>
    <option value="VT">Vermont</option>
    <option value="VA">Virginia</option>
    <option value="WA">Washington</option>
    <option value="WV">West Virginia</option>
    <option value="WI">Wisconsin</option>
    <option value="WY">Wyoming</option>
    <option value="AS">American Samoa</option>
    <option value="GU">Guam</option>
    <option value="PR">Puerto Rico</option>
    <option value="VI">Virgin Islands</option>
    <option value="AA">Armed Forces Americas</option>
    <option value="AE">Armed Forces Europe</option>
    <option value="AP">Armed Forces Pacific</option>
</select>
{% endmacro %}

{% macro CanadaProvinces(dataLabel, label) %}
    <select data-label="{{ dataLabel }}" class="form-control state"  name="state" required>
        <option data-choose value="">{{ label }}</option>
        <option value="AB">Alberta</option>
        <option value="BC">British Columbia</option>
        <option value="MB">Manitoba</option>
        <option value="NB">New Brunswick</option>
        <option value="NL">Newfoundland and Labrador</option>
        <option value="NS">Nova Scotia</option>
        <option value="ON">Ontario</option>
        <option value="PE">Prince Edward Island</option>
        <option value="QC">Quebec</option>
        <option value="SK">Saskatchewan</option>
    </select>
{% endmacro %}

{% macro InternationalStates(dataLabel, label) %}
	<input data-label="{{ dataLabel }}" class="form-control state"  type="text" maxlength="4" class="state"  required name="state" placeholder="{{ label }}" />
{% endmacro %}
