#kitgui_tab {
	display:none;
	position:fixed;
	left:50px;
	bottom:0;
	z-index:2147483600;
	width:65px;
	height:15px;
	background-repeat:no-repeat;
	background-image:url(//s3.amazonaws.com/kitgui/img/tab.png);
	cursor:pointer;
	font-size:0;
}
.kitgui_tab_stealth {
	background-position:0 -30px;
}
.kitgui_tab_on {
	background-position:0 0;
}
.kitgui_tab_off {
	background-position:0 -15px;
}
#kitgui_login {
	background-color:#000;
	overflow:hidden;
	width:100%;
	display:none;
	position:fixed;
	left:0;
	bottom:0;
	z-index:2147483600;
	height:0;
}
#kitgui_login iframe {
	width:100%;
	background-color:#000;
	border:1px solid black;
}